.Card {
  &:not(:last-child) {
    margin: 0 auto 10px auto;
  }
}

.Name {
  display: block;
  background-color: #184d47;
  color: white;
  border-radius: 4px;
  padding: 6px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  @media (min-width: '768px') {
    font-size: 20px;
  }
}

.IngredientsWrapper {
  margin: 10px;
}

.Ingredients {
  display: block;
  background-color: transparent;
}

.SingleIngredient {
  font-size: 18px;
  padding: 6px 12px;
  list-style-type: none;
  border-bottom: solid 1px #184d47;
  &::before {
    content: '- ';
  }
}

.ButtonsContainer {
  margin-top: 20px;
}
