.Card {
  border: solid 1px #456268;
  border-radius: 3px;
  &:not(:last-child) {
    margin: 0 auto 10px auto;
  }
}

.Name {
  display: block;
  background-color: #79a3b1;
  padding: 6px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  @media (min-width: '768px') {
    font-size: 20px;
    font-weight: 700;
  }
}

.IngredientsWrapper {
  margin: 20px 10px;
  padding: 20px 0 10px 0;
  border-top: 1px solid #456268;
}

.Ingredients {
  display: block;
  background-color: #d0e8f2;
}

.SingleIngredient {
  font-size: 16px;
  padding: 6px;
  list-style-type: none;
  border: solid 1px #456268;
  &:not(:last-child) {
    border-bottom: none;
  }
}

.ButtonsContainer {
  margin-top: 20px;
}
