.Container {
  text-align: center;
}

.Info {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.Back {
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}
