.Wrapper {
  background-color: transparent;
  border: solid 1px #ccc;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 5px;
  @media (min-width: '425px') {
    padding: 30px 10px;
  }
  @media (min-width: '768px') {
    padding: 50px 20px;
  }
}

.InnerWrapper {
  width: 100%;
}

.Title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
  background-color: #ffde7d;
  border-radius: 10px;
  @media (min-width: '768px') {
    font-size: 48px;
    margin-bottom: 40px;
    padding: 20px 0;
  }
}
