.Btn {
  cursor: pointer;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  outline: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 65px;
  &:not(:last-child) {
    margin-right: 10px;
  }
  @media (min-width: '768px') {
    width: 100px;
    padding: 0.375rem 0;
    font-size: 1.8rem;
    max-width: 200px;
  }
  @media (min-width: '1200px') {
    width: 150px;
  }
}
