.Wrapper {
  width: 100%;
  margin: 0 auto;
}

.Title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.Question {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
